---
const props = Astro.props;
import { Link } from 'lucide-vue-next'
---
<h1 {...props} class="heading-level-1 u-margin-block-start-24" style="font-size: 22pt; font-weight: 500; margin-top: 1.77rem;">
  <slot />
  <Link color="#56565C" size={15}>
</h1>
